  <?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hanokproject.customer.CustomerMapper">

<insert id="regist" parameterType="kr.co.hanokproject.customer.CustomerVO">
		INSERT INTO USERS_CUSTOMER (customer_id, customer_pwd,customer_name, customer_address, customer_email, customer_tel, customer_created) 
		VALUES (#{customer_id}, MD5(#{customer_pwd}), #{customer_name}, #{customer_address}, #{customer_email},#{customer_tel}, NOW())
		
		<!-- 
		<selectKey order="AFTER" keyProperty="no" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey> -->
		
	</insert>
	<select id="emailCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM member WHERE email=#{email}
	</select>
</mapper>