<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.hanokproject.room.RoomMapper">

    <!-- 사장님이 가지고 있는 방 리스트 검색 -->
	<select id="getRoomList"
		resultType="kr.co.hanokproject.room.RoomVO" parameterType="int">
		
		SELECT r.*,i.hanok_imgName, ri.room_imgName
		FROM ROOMS r
		JOIN HANOKS h ON r.hanok_id = h.hanok_id
		JOIN USERS_OWNER
		uo ON h.owner_id = uo.owner_id
		JOIN HANOK_IMAGES i ON h.hanok_id = i.hanok_id
		JOIN ROOM_IMAGES ri ON r.room_id = ri.room_id
		WHERE h.hanok_id =#{uo.hanok_id};
		
	</select>
	

</mapper>