<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hanokproject.owner.OwnerMapper">

<select id="ownerlogin" parameterType="map"
		resultType="kr.co.hanokproject.owner.OwnerVO">
		SELECT * FROM USERS_OWNER WHERE
		owner_id=#{owner_id} AND owner_pwd = MD5(#{owner_pwd})
	</select>

</mapper>